$background-color: #191919;
$titles-color: #e7e7e7;
$text-color: rgba(255, 255, 255, 0.8);
$accent-color: #df3d3a;
$button-text-color: rgba(255, 255, 255, 0.9);
$footer-text-color: rgba(255, 255, 255, 0.3);
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
