$background-color: #191919;
$titles-color: #E7E7E7;
$text-color: rgba(255, 255, 255, 0.8);
$accent-color: #DF3D3A;
$button-text-color: rgba(255, 255, 255, 0.9);
$footer-text-color: rgba(255, 255, 255, 0.3);