<section class="ability-section" id="characteristics">
  <div class="container ability__container">
    <h2 class="title ability__title">capable of so much</h2>
    <ul class="ability__list">
      <li class="ability__item">Ability to receive calls</li>
      <li class="ability__item">Rich and powerful sound</li>
      <li class="ability__item">Active noise cancellation option</li>
      <li class="ability__item">Unsurpassed microphone system</li>
      <li class="ability__item">Support of voice assistants</li>
      <li class="ability__item">Bose AR Augmented Reality Audio Platform</li>
    </ul>
  </div>
</section>
