<footer class="footer">
  <div class="container footer--container">
    <div class="footer-mobile">
      <div class="footer-first">
        <ul class="footer__select">
          <li class="footer-select__item">
            <a class="footer-select__link" href="#characteristics"
              >Characteristics</a
            >
          </li>
          <li class="footer-select__item">
            <a class="footer-select__link" href="#history">History</a>
          </li>
          <li class="footer-select__item">
            <a class="footer-select__link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </div>
      <div class="footer-second">
        <ul class="footer__select">
          <li class="footer-select__item">
            <a class="footer-select__link" href="#payment and delivery"
              >Payment and delivery</a
            >
          </li>
          <li class="footer-select__item">
            <a class="footer-select__link" href="#store addresses"
              >Store addresses</a
            >
          </li>
          <li class="footer-select__item">
            <a class="footer-select__link" href="#faq">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="footer-select__link primary-footer" href="tel:88001111111"
      >8 (800) 111-11-11</a
    >
  </div>
</footer>
