<section class="guarantees">
  <div class="guarantees__container container">
<div class="guarantees__wrap">
  <h2 class="guarantees__title title">Guarantees</h2>
<ul class="guarantees__list">
<li class="guarantees__item">
  <h3 class="guarantees__subtitle subtitle">90 Day Money 
    Back Guarantee</h3>
    <p class="guarantees__descriptions">If you are not 100% satisfied with a product, you can return it back for a full refund.
    </p>
</li>
<li class="guarantees__item">
  <h3 class="guarantees__subtitle subtitle">1 year warranty</h3>
    <p class="guarantees__descriptions">Regardless of your country of residence, if your headphones are broken, we will send you new ones.
    </p>
</li>
</ul>
</div>
<picture class="guarantees__picture">
  <source srcset="./images/img-guarantee@1x-1440.png 1x, ./images/img-guarantee@2x-1440.png 2x" media="(min-width: 1440px)">
  <source srcset="./images/img-guarantee@1x-768.png 1x, ./images/img-guarantee@2x-768.png 2x" media="(min-width: 768px)">
  <source srcset="./images/img-guarantee@1x-480.png 1x, ./images/img-guarantee@2x-480.png 2x" media="(max-width: 767px)">
  <img src="./images/img-guarantee@1x-480.png" loading="lazy" width="100%" alt="Headphones">
</picture>

</div>
</section>