<section class="history">
  <div class="history__container container">
   <div class="history__order"><div class="history__wrap"><h2 class="history__title title">Brand creation history</h2>
    <svg class="history__icon" width="110" height="82">
      <use href="./images/icons.svg#icon-sinus-mobile"></use>
    </svg>
  </div>
    <p class="history__description order2">The history of Bose Corporation began 
      with disappointment. In 1956, MIT graduate student Amar Bose bought one of the best stereo systems at the time for his home.
      After a few minutes of listening to the audio recording, his bewilderment turned 
      to disappointment.</p>

      <picture class="history__picture order3">
        <source srcset="./images/img1-history@1x-1440.png 1x, ./images/img1-history@2x-1440.png 2x" media="(min-width: 1440px)">
        <source srcset="./images/img1-history@1x-768.png 1x, ./images/img1-history@2x-768.png 2x" media="(min-width: 768px)">
        <source srcset="./images/img1-history@1x-480.png 1x, ./images/img1-history@2x-480.png 2x" media="(max-width: 767px)">
        <img src="./images/img1-history@1x-480.png" loading="lazy" width="100%" alt="Amar Bose">
     </picture>
     <!-- <img class="history__picture order3" src="./images/img1-history@1x-480.png" loading="lazy" width="280" alt="Amar Bose">
      -->
      
      <p class="history__description order4">From Amar's point of view, the sound was 
        so flat and unnatural that it was better not to listen to the music at all than to listen to it in such a distorted form.
      </p>
    
      <p class="history__description order5">Bose's frustration grew into a firm determination to build audio equipments that would reproduce sound 
        with impeccable accuracy and naturalness</p>
     
      </div>

        <figure class="history__figure">
          <picture>
            <source srcset="./images/img2-history@1x-1440.png 1x, ./images/img2-history@2x-1440.png 2x" media="(min-width: 1440px)">
            <source srcset="./images/img2-history@1x-768.png 1x, ./images/img2-history@2x-768.png 2x" media="(min-width: 768px)">
            <source srcset="./images/img2-history@1x-480.png 1x, ./images/img2-history@2x-480.png 2x" media="(max-width: 767px)">
            <img src="./images/img2-history@1x-480.png" loading="lazy" width="100%" alt="Amar Bose">
         </picture>
          <div class="history__quote-wrapper">
            <blockquote class="history__quote">
             <p class="history__quote-text">Never stop dreaming. Always dream of the best, and think about how to achieve it.</p>
            </blockquote>
            <figcaption class="history__caption">Amar Bose is a company founder</figcaption>
          </div>
          </figure>
        
    </section>