<div class="backdrop-payment is-hidden">
  <div class="modal-payment">
    <div class="modal-payment__body">
      <button class="modal-payment__close" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
         <path d="M18.8388 16.1373L12.4383 9.73675L18.8388 3.33622C19.5094 2.66568 19.5094 1.56845 18.8388 0.897917C18.1683 0.227384 17.0711 0.227384 16.4005 0.897916L10 7.29845L3.59946 0.897916C2.92893 0.227384 1.8317 0.227384 1.16117 0.897917C0.490633 1.56845 0.490633 2.66568 1.16117 3.33622L7.5617 9.73675L1.16117 16.1373C0.490633 16.8078 0.490633 17.9051 1.16117 18.5756C1.8317 19.2461 2.92893 19.2461 3.59947 18.5756L10 12.1751L16.4005 18.5756C17.0711 19.2461 18.1683 19.2461 18.8388 18.5756C19.5094 17.9051 19.5094 16.8078 18.8388 16.1373Z" fill="#666666"/>
        </svg>
      </button>



      <p class="modal-payment__title">Payment information</p>
      <p class="modal-payment__desc">For your convenience, we offer a wide array of payment methods to complete your purchase as indicated to you at the point of sale.
</p>

      <p class="modal-payment__title">Delivery</p>
          <p class="modal-payment__desc">If you have any questions or concerns regarding shipping, please contact us
</p>

       <form action="">
        <div class="form__group field">
          <textarea type="text" class="form__field form__field--pading" placeholder="message" name="message" id="message" required="" rows="4"></textarea>
          <label for="message" class="form__label">Write to us</label>
        </div>
        <button class="form__btn draw meet" type="submit">send</button>
       </form>
  </div>
    </div>
  </div>