<section class="sound sound-section">
    <div class="container header-container">
        <h2 class=" title sound-title"> The luxury of silence</h2>
    </div>
    <picture class="sound-img">
        <source srcset="./images/img-sound@1x-1440.png 1x, ./images/img-sound@2x-1440.png 2x"
            media="(min-width: 768px)" />
        <source srcset="./images/img-sound@1x-768.png 1x, ./images/img-sound@2x-768.png 2x"
            media="(min-width: 480px)" />
        <source srcset="./images/img-sound@1x-480.png 1x, ./images/img-sound@2x-480.png 2x"
            media="(max-width: 479px)" />
        <img src="./images/img-sound@1x-1440.png" loading="lazy" alt="Headphones">
    </picture>
    <ul class="sound-list container">
        <li class="sound-list__item">
            <h3 class="sound-list__title subtitle">Maximum enjoyment</h3>
            <p class="sound-list__text">In order to create a comfortable atmosphere - raise the level by level from
                the "transparent"
                mode to the maximum blocking of sounds. The conversation mode can be activated in one click
                using
                a special button.
            </p>
        </li>
        <li class="sound-list__item">
            <h3 class="sound-list__title subtitle">Crystal sound</h3>
            <p class="sound-list__text">The speaker system and brand name active equalizer are able to provide
                high-quality and powerful
                sound at any volume level. You can be sure of no distortion and crystal clear at high and low
                frequencies.
            </p>
        </li>
    </ul>
</section>