<section class="technology">
  <div class="container">
    <div class="technology__wrapp">
      <h2 class="technology__title title">Bose AR</h2>
      <h3 class="technology__subtitle subtitle">Brand name technology</h3>
      <p class="technology__text">
        Bose AR is a unique audio platform augmented reality, that opens before
        you new facets of sound. It allows you to stay connected to the real
        world and immerse yourself in the virtual universe at the same time.
      </p>
    </div>

    <div class="technology__wrapper">
      <picture class="technology__picture">
        <source
          srcset="
            ./images/img_technology@1x-1440.png 1x,
            ./images/img_technology@2x-1440.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/img_technology@1x-768.png 1x,
            ./images/img_technology@2x-768.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/img_technology@1x-480.png 1x,
            ./images/img_technology@2x-480.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/img_technology@1x-1440.png"
          alt="Girl in headphones"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
