.faq {
  background-color: #191919;
}

.faq__list {
  list-style: decimal-leading-zero;
}

.faq__title {
  color: $titles-color;
  text-transform: uppercase;
  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 32px;
  }
}

.faq__item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);

  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 24px;
  }
}

.faq__text {
  color: $text-color;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 125%;

  @media screen and (min-width: $tablet) {
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 145%;
  }

  @media screen and (min-width: $desctop) {
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
  }
}
