.faq {
  background-color: #191919;
}

.faq__list {
  list-style-type: none; 
  counter-reset: section;
}

.faq__item::before {
  counter-increment: section;                
  content: "0" counter(section);
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  margin-right: 0.5em; 
}

.faq__title {
  color: $titles-color;
  text-transform: uppercase;

  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 32px;
  }
}

.faq__body-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.faq__item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 24px;
  position: relative;

  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 24px;
  }
}

.faq__text {
  color: $text-color;
  font-size: 14px;
  line-height: 125%;
  margin-right: 12px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 145%;
  }

  @media screen and (min-width: $desctop) {
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
  }
}

.faq__icon {
  padding: 0;
}

.faq__icon-number {
  margin-right: 16px;
}

.faq__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $titles-color;
  cursor: pointer;
}

.faq__icon-sign {
  fill: $titles-color;
}

.faq__content {
  // margin-top: 16px;
  // margin-bottom: 24px;
  margin: 0;
  opacity: 1;
  max-height: 100%;
  transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s, height 0.3s ease 0s;
}

.faq__item.hide .faq__content {
  margin-top: 0;
  // margin-bottom: 24px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
