.hero {
  padding-bottom: 52px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desctop) {
    padding-bottom: 170px;
  }
}
.container {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: end;
    padding: 0;
  }
}

.hero__container {
  @media screen and (max-width: $pre-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero__wrapper {
  @media screen and (min-width: $tablet) {
    margin-right: 60px;
  }

  @media screen and (min-width: $desctop) {
    margin-right: 40px;
  }
}

.hero-list {
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 105px;
  }

  @media screen and (min-width: $desctop) {
    margin-bottom: 94px;
  }
}
.hero-list__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desctop) {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }
}
.hero-list__descr {
}

.hero-title__wrapper {
  @media screen and (min-width: $desctop) {
    padding-left: 132px;
  }
}

.hero__title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 34px;
  line-height: 1;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $titles-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    font-size: 42px;
  }

  @media screen and (min-width: $desctop) {
    margin-bottom: 86px;
    font-size: 74px;
  }
}

.hero__btn {
  padding: 19px 113px;

  width: 100%;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $button-text-color;
  background-color: $accent-color;
  border: none;

  &:hover,
  &:focus {
    background-color: #b5302d;
  }

  @media screen and (max-width: 767.98px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $tablet) {
    padding: 19px 120px;
  }

  @media screen and (min-width: $desctop) {
    padding: 22px 166px;
    font-size: 20px;
    width: 400px;
  }
}
