@import './header';
@import './hero';
@import './design';
@import './ability';
@import './sound';
@import './technology';
@import './guarantee';
@import './history';
@import './reviews';
@import './faq';
@import './order';
@import './feedback';
@import './footer';
@import './modal';
@import './modal-order';
@import './modal-stores';
@import './modal-payment';
@import './modal-order';
