.technology {
  padding-bottom: 52px;
  background-color: #191919;
}

.container {
  @media screen and (max-width: $pre-tablet) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.technology__title {
  color: $titles-color;
  text-transform: uppercase;

  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 32px;
  }
}

.technology__subtitle {
  color: $titles-color;
  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 16px;
  }
}

.technology__text {
  color: $text-color;

  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 32px;
  }
}