$background-color: #191919;
$titles-color: #e7e7e7;
$text-color: rgba(255, 255, 255, 0.8);
$accent-color: #df3d3a;
$button-text-color: rgba(255, 255, 255, 0.9);
$footer-text-color: rgba(255, 255, 255, 0.3);

picture {
  img {
  width: 100%;
  }
}

.technology {
  padding-bottom: 52px;
  background-color: #191919;
}

.technology .container {
  @media screen and (min-width: $pre-tablet) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: $pre-tablet) {
  .technology__wrapp {
    padding-left: 60px;
    width: 340px;
  }
}

.technology__title {
  margin-bottom: 32px;
}

.technology__subtitle {
  color: $titles-color;
  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 16px;
  }
}

.technology__text {
  color: $text-color;

  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 32px;
  }
}

.technology__picture {
    padding-right: 0;
}